@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --clr-ntrl-1: #ffffff;
  --clr-ntrl-2: #e2e2e2;
  --clr-ntrl-3: #818384;
  --clr-ntrl-4: #3a3a3c;
  --clr-ntrl-5: #272729;
  --clr-ntrl-6: #121213;

  --clr-primary: #6aaa64;
  --clr-primary-lt: #bae8b5;
  --clr-primary-dk: #538d4e;
  --clr-secondary: #b59f3b;

  --key-bg-present: var(--clr-secondary);
  --key-bg-correct: var(--clr-primary-dk);
  --key-bg-absent: var(--clr-ntrl-4);

  --game-max-width: 500px;
  --header-height: 66px;
  --keyboard-height: 200px;
  --keyboard-width: var(--game-max-width);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-ntrl-6);
  font-family: 'Playfair Display', serif;
}

.header-container {
  border-bottom: 1px solid var(--clr-ntrl-3);
  height: var(--header-height);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  margin: 9px;
  border-radius: 6px;
  background-color: var(--clr-ntrl-5);
  width: 330px;
  height: 40px;
  color: var(--clr-ntrl-2);
  font-weight: bold;
  font-size: 18px;
}

.win {
  visibility: visible;
  border-color: var(--clr-primary);
  background-color: var(--clr-primary-dk);
  color: var(--clr-primary-lt);
}

.lose {
  visibility: visible;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--clr-ntrl-1);
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  max-width: var(--game-max-width);
  height: calc(100% - var(--header-height));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.board {
  grid-gap: 5px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.board-row {
  grid-gap: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border: 2px solid var(--clr-ntrl-4);
  padding: 20px;
  width: 62px;
  height: 62px;
  color: var(--clr-ntrl-1);
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}

.tile.correct {
  border-color: var(--key-bg-correct);
  background-color: var(--key-bg-correct);
}

.key.correct {
  border-color: var(--key-bg-correct);
  background-color: var(--key-bg-correct);
}

.tile.close {
  border-color: var(--key-bg-present);
  background-color: var(--key-bg-present);
}

.key.close {
  border-color: var(--key-bg-present);
  background-color: var(--key-bg-present);
}

.tile.wrong {
  border-color: var(--key-bg-absent);
  background-color: var(--key-bg-absent);
}

.key.wrong {
  border-color: var(--key-bg-absent);
  background-color: var(--key-bg-absent);
}

.shake {
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  backface-visibility: hidden;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.pop {
  animation: pop 0.1s ease-in;
}

@keyframes pop {
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.keyboard .spacer {
  flex-grow: 0.5;
}

.keyboard {
  padding: 0 8px 0 8px;
  width: var(--keyboard-width);
  max-width: 100%;
  height: var(--keyboard-height);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}

.key {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  margin: 0 6px 0 0;
  border: none;
  border-radius: 4px;
  background-color: var(--clr-ntrl-3);
  height: 58px;
  color: var(--clr-ntrl-1);
  font-weight: bold;
  font-family: 'chivo mono', monospace;
}

.key:hover {
  background-color: var(--clr-ntrl-2);
  color: var(--clr-ntrl-5);
}

.key:last-of-type {
  margin: 0;
}

.key-one-and-a-half {
  flex-grow: 1.5;
}
