@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-tone-8: #ffffff;
  --color-tone-9: #424242;
  --color-tone-10: #dfdfdf;
  --color-tone-11: #dfdfdf;
  --color-tone-12: #dfdfdf;
  --color-nav-hover: #2f2f31;
  --opacity-50: rgba(0, 0, 0, 0.5);
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --spellingBeeYellow: #f7da21;
  --lightGray: #d3d6da;
  --gray: #86888a;
  --gray-2: #dcdcdc;
  --gray-3: #dfdfdf;
  --gray-4: #cccccc;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --black-2: #121212;
  --black-3: #363636;
  --black-4: #cfcfcf;
  --blue-2: #477aaa;
  --orange: #f5793a;
  --blue: #85c0f9;
  --outlineBlue: #2671dc;
  --linkBlue: #477aaa;
  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
}

.header-container {
  height: 66px;
  border-bottom: 1px solid var(--color-tone-4);
}

.title-container {
  font-weight: 900;
  letter-spacing: 0.2px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding-top: 20px;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  border: 2px solid var(--color-tone-4);
  height: 50px;
  width: 50px;
  display: inline-flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  padding: 20px;
}

.tile-input {
  font-size: 2rem;
  line-height: 1;
}

.correct {
  background-color: var(--key-bg-correct);
  border-color: var(--key-bg-correct);
}

.close {
  background-color: var(--key-bg-present);
  border-color: var(--key-bg-present);
}

.wrong {
  background-color: var(--key-bg-absent);
  border-color: var(--key-bg-absent);
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.grow-shrink {
  animation: grow-shrink 0.5s ease-in;
}

@keyframes grow-shrink {
  50% {
    transform: scale(1.1);
  }
}
